@using PagedList;
@using PagedList.Mvc;


@model IPagedList<BCM.Models.Contact>

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <b>Search Option: </b>@Html.RadioButton("option", "FirstName") <text>First Name</text>
    @Html.RadioButton("option", "Surname") <text>Surname</text>
    @Html.RadioButton("option", "CompanyName") <text>Company</text>
    @Html.TextBox("search") <input type="submit" name="submit" value="Search" />
}

<p>
    <button onclick="location.href'@Url.Action("Create New", "Create")';return false;">Create New</button>
    @*Not sure on this, might change it back to  @Html.ActionLink("Create New", "Create")*@
    <button onclick="loacation.href'@Url.Action("Home", "Index")';return falses;">Refresh</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Address3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().County)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().PostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Telephone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Telephone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Telephone3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Telephone4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Email2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Notes)
        </th>
        <th></th>
    </tr>
@if(Model.Count() == 0)
{
    {
        <tr>
            <td colspan="3">
                Records Not Found
            </td>
        </tr>
    }
}
else {

foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.County)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
    }

}

</table>
@Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber, option = Request.QueryString["option"], search = Request.QueryString["search"] }))